html {
  font-size: 16px;
}

* {
  margin: 0px;
  border: 0px;
}

body {
  margin: 0px 150px;
}

.header-top-left {
  float: left;
}

.header-top-right {
  float: right;
}

.header-top-left img {
  float: left;
}

.header-top-logo-content {
  float: left;
}

.header-bottom {
  display: grid;
  grid-template-columns: auto 150px;
  border: 1px solid rgb(212, 212, 212);
  box-sizing: border-box;
}

.header-top::after {
  content: "";
  clear: both;
  display: table;
  height: 20px;
}

.header-bottom-menu ul {
  height: 100%;
}

.header-bottom-menu a {
  float: left;
  text-decoration: none;
  border-right: 1px solid rgb(212, 212, 212);
  height: 100%;
  box-sizing: border-box;
}

.header-bottom-menu ul {
  list-style-type: none;
  padding-left: 0px;
}

.header-bottom-menu ul::after {
  content: "";
  clear: both;
  display: table;
}

.header-bottom-menu a {
  padding: 10px;
}

.header-bottom-icon i {
  border: 1px solid;
  border-radius: 50%;
  box-sizing: border-box;
  margin: 6px 0px 6px 5px;
  float: right;
}

.fa-google {
  color: rgb(247, 54, 63);
  padding: 5px 6px;
}

.fa-facebook {
  color: blue;
  padding: 5px 8px;
}

.fa-youtube {
  color: rgb(247, 54, 63);
  padding: 5px;
}

.header-bottom::after {
  content: "";
  clear: both;
  display: table;
}

.main-slide {
  position: relative;
  left: -150px;
}

.main-slide img {
  width: 100vw;
}

.main-slide ul {
  position: absolute;
  top: 40%;
  left: 10%;
  list-style-type: none
}

.main-slide li,
span {
  float: left;
  margin-left: 10px;
}

.main-slide::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: 40px;
}

.main-content {
  display: grid;
  grid-template-columns: 30% 70%;
  box-sizing: border-box;
  grid-gap: 20px;
}

.main-content-left {}

.main-content-left ul {
  padding-left: 28px;
}

.main-content-left li {
  margin: 10px 0px;
}

.main-content-left a {
  text-decoration: none;
  color: black;
}

.main-content-left h4 {
  background-color: #6a79819a;
  padding: 10px;
  box-sizing: border-box;
}

.main-content-left-menu::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: 40px;
}

.main-content-left-form {
  background-color: #6a79819a;
}

.main-content-left-form>form {
  padding: 10px;
  box-sizing: border-box;
  position: relative;
}

.main-content-left-form>form>input {
  margin: 10px 0px;
  height: 30px;
  width: 100%;
}

.main-content-left-form>form>button {
  background-color: rgb(63, 177, 63);
  color: white;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: 35%;
}

.main-content-right {
  display: grid;
  grid-template-columns: auto auto auto;
  box-sizing: border-box;
  grid-gap: 20px;
  width: 100%;
}

.main-content-right img {
  max-width: 100%;
}

.main-content::after {
  content: "";
  clear: both;
  display: table;
  margin-bottom: 20px;
}

footer {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: rgba(89, 208, 230, 0.671);
  width: 100vw;
}

footer a {
  text-decoration: none;
  color: black;
}

footer ul {
  padding-left: 18px;
}

footer li {
  margin: 10px 0px;
}